/*
* {
	box-sizing: border-box;	
}
*/
/*
body {
	font-family: 'Muli', san-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}
*/

div {
	display: flex;
	justify-content: center;
	border: 1px solid white;
}

canvas {
	border: 1px solid white;
}

.layout_column {
	display: flex;
	flex-direction: column;
}

.index_picture {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap:20px;
	grid-auto-rows: minmax(250px, auto);
}